{{ define "main" }}
<div class="about-container">
    <div>
        <img src="/img/about/about_banner.jpg" width="100%" height="auto" />
    </div>
    <div class="content">
        <div class="title text-center">
            {{.Title}}
        </div>
        <div class="subTitle text-center">
            {{.Params.subtitle}}
        </div>
        <br>
        <div class="intro">
            {{.Content}}
        </div>
    </div>
    <div class="greater">
        <div class="container">
            <div class="title">
                產品保證
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="row align-items-center p-4">
                        <img src="/img/about/bollino-icea-verde.bio-01.scale-fill-empty.500x500.png" width="100" height="100" />
                        <span class="margin-15">Certified by ICEA
                            <br>ICEA有機環保認證
                        </span>
                    </div>
                    <div class="row align-items-center p-4">
                        <img src="/img/about/dermatologically-verde-nero.scale-fill-empty.500x500.png" width="100" height="100" />
                        <span class="margin-15">Dermatologically tested
                            <br>通過皮膚測試
                        </span>
                    </div>
                    <div class="row align-items-center p-4">
                        <img src="/img/about/hypo-allergenic-colorato.scale-fill-empty.500x500.png" width="100" height="100" />
                        <span class="margin-15">Hypoallergenic tested
                            <br>通過防過敏測試
                        </span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="row align-items-center p-4">
                        <img src="/img/about/coniglio.scale-fill-empty.500x500.png" width="100" height="100" />
                        <span class="margin-15">Not tested on animals
                            <br>無動物測試
                        </span>
                    </div>
                    <div class="row align-items-center p-4">
                        <img src="/img/about/eco-100.crop-center.500x500.png" width="100" height="100" />
                        <span class="margin-15">100% natural
                            <br>100%純天然
                        </span>
                    </div>
                    <div class="row align-items-center p-4">
                        <img src="/img/about/made-in-italy.crop-center.500x500.png" width="100" height="100" />
                        <span class="margin-15">Made in Italy
                            <br>意大利製造
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}