{{ define "main" }}
<div class="about-container">
    <div>
        <img src="/img/about/about_banner.jpg" width="100%" height="auto" />
    </div>
    <div class="content">
        <div class="title text-center">
            JAYANTI
        </div>
        <div class="subTitle text-center">
            全手工製作、百分百天然的非一般產品
        </div>
        <br>
        <div class="intro">
            <p>
                Jayanti 賽雅媞 – 神擷之物、純粹有機美顏,完美優質的有機天然護理產品,分別在意大利、 法國、 敘利亞由藝術工匠專責生產。整個生產過程通過了有機認證,絕對自然和環保。 專注顧 客的需要,所有"Jayanti - 賽雅媞"產品的外包裝都註明原產地和清晰簡明資料。
            </p>
            <p>
                我們對保護環境的承諾是堅持使用100%可循環再造的包裝。 我們最大的滿足就是為每位顧客提供 與自然和諧並存、最優質的產品。
            </p>
            <p>
                Jayanti continuosly developing its range of 100% handmade and environmentally friendly prod- ucts, choosing to create a line
                of high quality products for the body, face and home, made exclu- sively by artisan workshops in Italy and
                France. The entire production is certified organic using, natural and environmentally friendly products.
            </p>
            <p>
                Each box indicates the country of origin , clear and concise information that we consider essen- tial to our customers.
            </p>
            <p>
                The mission of "Jayanti" is to offer its customers a product that is "different", handmade and natural with meticolous attention
                to detail, unique in the market, and that can fully satisfy the more demanding customers and offer pleasant
                moments for the body and mind.
            </p>
            <p>
                Our commitment to safeguarding the environment continues in the use of 100% recyclable pack- aging.
                <br> OUR GREATER SATISFACTION IS BE ABLE TO PROVIDE OUR CUSTOMERS THE HIGHEST QUALITY PRODUCTS IN RESPECT OF
                NATURE
            </p>
        </div>
    </div>
    <div class="greater">
        <div class="container">
            <div class="title">
                產品保證
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="row align-items-center p-4">
                        <img src="/img/about/bollino-icea-verde.bio-01.scale-fill-empty.500x500.png" width="100" height="100" />
                        <span class="margin-15">Certified by ICEA
                            <br>ICEA有機環保認證
                        </span>
                    </div>
                    <div class="row align-items-center p-4">
                        <img src="/img/about/dermatologically-verde-nero.scale-fill-empty.500x500.png" width="100" height="100" />
                        <span class="margin-15">Dermatologically tested
                            <br>通過皮膚測試
                        </span>
                    </div>
                    <div class="row align-items-center p-4">
                        <img src="/img/about/hypo-allergenic-colorato.scale-fill-empty.500x500.png" width="100" height="100" />
                        <span class="margin-15">Hypoallergenic tested
                            <br>通過防過敏測試
                        </span>
                    </div>
                </div>
                <div class="col-md">
                    <div class="row align-items-center p-4">
                        <img src="/img/about/coniglio.scale-fill-empty.500x500.png" width="100" height="100" />
                        <span class="margin-15">Not tested on animals
                            <br>無動物測試
                        </span>
                    </div>
                    <div class="row align-items-center p-4">
                        <img src="/img/about/eco-100.crop-center.500x500.png" width="100" height="100" />
                        <span class="margin-15">100% natural
                            <br>100%純天然
                        </span>
                    </div>
                    <div class="row align-items-center p-4">
                        <img src="/img/about/made-in-italy.crop-center.500x500.png" width="100" height="100" />
                        <span class="margin-15">Made in Italy
                            <br>意大利製造
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ end }}