{{ $menus:= .Site.Menus }} {{ if $menus}}
<div class="jayanti-logo">
    <a href="/home/home">
        <img src="/img/home/logo.png" height="97" width="auto"/>
    </a>
</div>
<nav class="navbar navbar-expand-lg navbar-light">
    <button style="border: none;" class="navbar-toggler text-center" type="button" data-toggle="collapse" data-target="#navbar-mobile" aria-controls="navbar-mobile" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-mobile">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        {{ range .Site.Menus.main }} {{ $menuName := .Name }} {{ $menuTitle := .Identifier }}
            <li class="nav-item active">
                {{ if eq $menuTitle "gdv" }}
                <a href="{{ .URL}}" class="nav-link" id="menu-{{$menuTitle}}" target="_blank">
                    {{ $menuName }}
                </a>
                {{ else }}
                <a href="{{ .URL}}" class="nav-link" id="menu-{{$menuTitle}}">
                    {{ if eq $menuTitle "home"}}
                        <i class="fa fa-home font-20"></i>
                    {{ else }}
                        {{ $menuName }}
                    {{end}}
                </a>
                {{end}}
            </li>
        {{end}}
        </ul>
        <div class="my-2 my-lg-0">
            <a href={{.Site.Params.youtubelink}} class="black" target="_blank">
                <i class="fa fa-youtube font-25"></i>
            </a>
            <a href="{{.Site.Params.facebooklink}}" class="black" target="_blank">
                <i class="fa fa-facebook-official font-25"></i>
            </a>
            <a href={{.Site.Params.instgramlink}} class="black" target="_blank">
                <i class="fa fa-instagram font-25"></i>
            </a>
        </div>
    </div>
</nav>
<div class="jayanti-bg-green white text-center">
    全手工製作、百分百天然的非一般產品
</div>
{{ end }}