{{ define "main" }}
<div class="home-container">
    <div>
        <img src="/img/home/home_banner.jpg" width="100%" height="auto" />
    </div>
    <div class="hot-issues">
        <div class="title-container">
            <span class="title">
                HOT ISSUES
            </span>
            <hr color="black">
        </div>
        <div class="row element-container">
            <!-- Loop the issue itmes data folder -->
            
            {{ range .Site.Data.issues }}
                <div class="col-md">
                    <a href="{{.url}}" class="black" target="_blank">
                        <div class="element text-center">
                            <img src="{{.image}}" width="100%" height="auto" />
                            <span class="title">
                                {{.title}}
                            </span>
                        </div>
                    </a>
                </div>
            {{ end }}
        </div>
    </div>
    <section class="instgram-container">
        <div class="text-center padding-top-25">
            <b class="font-20">
                <i class="fa fa-instagram font-20"></i>#JAYANTI.ORGANIC ON INSTAGRAM <br>
            </b>
            <div>
                各款天然有機產品 由意大利直送香港
            </div>
            <!-- instgram followers -->
            <div id="instgram-followers">
            </div>
        </div>
        <div class="item-container">
            <div class="responsive row" id="instgram-photo">
            </div>
        </div>
        <div class="text-center more-container">
            <a href={{.Site.Params.instgramlink}} target="_blank">
                <button class="more bg-black white">
                    <i class="fa fa-instagram font-20"></i>
                    <span>查看更多</span>
                </button>
            </a>
        </div>
    </section>
</div>

<script>
    // add image to html template
    function initCarousel() {
        instgramItems.forEach(item =>
            $('#instgram-photo').append("<div class='item'><a target='_blank' href='" + item.url + "'><img width='100%' height='auto' src='" + item.photoUrl + "'></a><div class='likesCount text-left'><i class='fa fa-heart-o black font-15'></i><span class='black'>" + item.likes + "</span></div></div>")
        );
        $('.responsive').slick({
            dots: true,
            infinite: false,
            speed: 300,
            slidesToShow: 5,
            slidesToScroll: 5,
            adaptiveHeight: true,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }
                // You can unslick at a given breakpoint now by adding:
                // settings: "unslick"
                // instead of a settings object
            ]
        });
    };
    // get image photos
    var token = '7569874127.df24bc9.dc4d32699019445e8cdf744cc87db4b1',
        instgramItems = [],
        num_photos = 20,
        followers;
    // Get instgram photo
    $.ajax({
        url: 'https://api.instagram.com/v1/users/self/media/recent',
        dataType: 'jsonp',
        type: 'GET',
        data: { access_token: token, count: num_photos },
        success: function (data) {
            // console.log(data);
            for (x in data.data) {
                if (data.data[x].type == 'image') {
                    instgramItems.push({
                        url: data.data[x].link,
                        photoUrl: data.data[x].images.low_resolution.url,
                        likes: data.data[x].likes.count
                    });
                }
            }
            initCarousel();
        },
        error: function (data) {
            // console.log(data);
        }
    });
    // Get follows
    $.ajax({
        url: 'https://api.instagram.com/v1/users/self',
        dataType: 'jsonp',
        type: 'GET',
        data: { access_token: token },
        success: function (data) {
            followers = data.data.counts.followed_by;
            // console.log(data);
            $('#instgram-followers').append("<span class='black'>" + followers + "&nbsp;followers</span>")
        },
        error: function (data) {
            // console.log(data);
        }
    });
    // For promotions function
    var $imgs = $(".fader").find("img"),
        i = 0;

    function changeImage() {
        var next = (++i % $imgs.length);
        $($imgs.get(next - 1)).fadeOut(500);
        $($imgs.get(next)).delay(500).fadeIn(500);
    }
    if($imgs.length > 1) {
        var interval = setInterval(changeImage, 5000);
    }
</script>
{{ end }}