{{ define "main" }}
<div class="contact-container">
    <div class="row align-items-center video-container">
        <div class="col text-center">
            <iframe controls rameborder="0" src="/img/contact/Jayanti_CausewayBay.mp4" allowfullscreen width="auto" height="240"></iframe>
        </div>
        <div class="col text-center">
            <p class="title">
                JAYANTI賽雅媞有機美康站
            </p>
            <p class="subTitle">
                銅鑼灣怡和街1號銅鑼灣地帶117號
            </p>

            <a href="http://www.jayantihk.com" target="_blank">www.jayantihk.com</a>
            <p>
                Email: hkjayanti@gmail.com
            </p>
            <p>
                Tel: 3460 4657
            </p>
            <p>
                Whatsapp: 9255 8202
            </p>
        </div>

    </div>

</div>
{{ end }}