{{ define "main" }}
<div class="contact-container">
    <div class="row align-items-center video-container">
        <div class="col text-center">
            <p class="title">
                Wino Trading Limited
            </p>
            <p class="subTitle">
                Wino Trading Limited, Flat 10,12/F., Favor Industrial Center, 2-6 Kin Hong Street, Kwai Chung.
            </p>

            <a href="https://jayantihk.com" target="_blank">jayantihk.com</a>
            <p>
                Email: info@jayantihk.com
            </p>
            <p>
                Tel: 34211587
            </p>
            <p>
                Whatsapp: 92880542
            </p>
        </div>

    </div>

</div>
{{ end }}