{{ define "main" }}
<div class="contact-container">
    <div class="row align-items-center video-container">
        <div class="col text-center">
            <p class="title">
                JAYANTI賽雅媞有機美康站
            </p>
            <p class="subTitle">
                Wino Trading Limited, Flat 10,12/F., Favor Industrial Center, 2-6 Kin Hong Street, Kwai Chung.
            </p>

            <a href="http://www.jayantihk.com" target="_blank">www.jayantihk.com</a>
            <p>
                Email: hkjayanti@gmail.com
            </p>
            <p>
                Tel: 34211587
            </p>
            <p>
                Whatsapp: 92880542
            </p>
        </div>

    </div>

</div>
{{ end }}